.nav {
    background-color: #232f3e;
    color: antiquewhite;
    padding: 20px; 
}
.nav h3 {
    text-align: center;
    margin-bottom: 0;
}
.nav a {
    display: inline-block;
    color: white;
    padding: 5px;    
    border: transparent solid 1px;
    cursor: pointer;
}
.nav a:hover {
    display: inline-block;
    color: #232f3e;
    background-color: white;
}
.nav a:active {
    font-weight: bold;
    color: white;
    background-color: #232f3e;
    border: white solid 1px;
}